body {
	background-color: #596673;
	color: #FFFFFF;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}

.header {
	width:100%;
	height:50px;
}

.container {
	width: 100%;
}

.left {
	width: 1025px;
	float: left;
}

.right {
	width: 895px;
	float: right;
}