body {
	background-color: #596673;
	color: #FFFFFF;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}

.header {
	width:100%;
	height:50px;
}

.row {
	display: flex;
	align-items: flex-start;
}

.column {
	flex: 1;
	padding:10px;
}